.outer_layout {
    width: Fixed (1, 440px)px;
    height: Hug (4, 997px)px;
    min-height: 900px;
    top: -2025px;
    left: -148px;
    padding: 0px 48px 0px 48px;
    gap: 0px;
    opacity: 0px;
    background: rgba(236, 246, 254, 1);
}

.top_layout {
    width: Fill (1, 344px)px;
    height: Hug (80px)px;
    padding: 16px 0px 16px 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    justify: space-between;
    opacity: 0px;
    background: rgba(236, 246, 254, 1);
}

.nav_layout {
    width: Hug (472px)px;
    height: Hug (32px)px;
    gap: 32px;
    opacity: 0px;
}

.solid {
    width: 1540px;
    height: 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(68, 10, 143, 1)
}

.middle_layout {
    width: Fill (1, 344px)px;
    height: Hug (4, 749px)px;
    padding: 48px 0px 48px 0px;
    gap: 0px;
    opacity: 0px;
}

.links-outs a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    margin: 0 20px;
}