* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5EF;

}

.nav {
    width: 97%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.logo {
    font-size: 28px;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    margin: 0 20px;
}

.nav a:hover {
    color: #FFA07A;
}

hr {
    margin-top: 20px;
    border: 1px solid #17340929;
}

.content {
    width: 97%;
    height: 40%;
    margin-top: 70px;
}

.content h1 {
    font-size: 150px;
    text-align: center;
    font-weight: 500;
}

.content img {
    width: 100%;
}